p { page-break-inside: avoid;}
table { border-spacing:0; }
body { padding:0; margin:0; }
li p {
  text-align:justify;
  margin:0;
}
ol {
  margin:0;
  padding:0 24pt;
  li + li {
    padding-top:24pt;
  }
}
th {
  padding-left:24pt;
  text-align:left;
}
