.caps { text-transform:uppercase; }
.nowrap { white-space:nowrap; }
.justify { text-align:justify; }
 .center { text-align:center; }
  .right { text-align:right; }
   .left { text-align:left; }
   .bold { font-weight:bold; }
   .italic { font-weight:italic; }
   .normal { font-weight:normal; }

//Color
.header-red,
.red { color:$flatRed; }
.header-orange,
.orange { color:$flatOrange; }
.header-yellow,
.yellow { color:$flatYellow; }
.header-green,
.green { color:$flatGreen; }
.header-blue,
.blue { color:$flatBlue; }
.header-purple,
.purple { color:$flatPurple; }
.header-black,
.black { color:$flatBlack; }
.header-white,
.white { color:white; }
.header-gray,
.gray { color:$flatGray; }

.bg-red { 
 background-color:$flatRed;
 &-light { background-color:lighten(rgba(100,18,33,.1),15%) } 
}
.bg-orange { 
 background-color:$flatOrange; 
 &-light { background-color:lighten(rgba(92,59,31,.1),15%); } 
}
.bg-yellow { 
 background-color:$flatYellow; 
 &-light { background-color:lighten(rgba(96,84,43,.1),15%); } 
}
.bg-green { 
 background-color:$flatGreen; 
 &-light { background-color:lighten(rgba(24,74,55,.1),15%); } 
}
.bg-blue { 
 background-color:$flatBlue; 
 &-light { background-color:lighten(rgba(7,48,71,.1),15%); } 
}
.bg-purple { 
 background-color:$flatPurple; 
 &-light { background-color:lighten(rgba(55,48,90,.1),15%); } 
}
.bg-black { 
 background-color:$flatBlack; 
}
.bg-white { 
 background-color:white; 
}
.bg-gray { 
 background-color:$flatGray;
}

//Spacing
.margin- {
  &0p5 {
    margin:6pt;
    &-t,&-tb,&-bt { margin-top:6pt; }
    &-r,&-rl,&-lr { margin-right:6pt; }
    &-b,&-tb,&-bt { margin-bottom:6pt; }
    &-l,&-rl,&-lr { margin-left:6pt; }
  }
  &1 {
    margin:12pt;
    &-t,&-tb,&-bt { margin-top:12pt; }
    &-r,&-rl,&-lr { margin-right:12pt; }
    &-b,&-tb,&-bt { margin-bottom:12pt; }
    &-l,&-rl,&-lr { margin-left:12pt; }
  }
  &1p5 {
    margin:18pt;
    &-t,&-tb,&-bt { margin-top:18pt; }
    &-r,&-rl,&-lr { margin-right:18pt; }
    &-b,&-tb,&-bt { margin-bottom:18pt; }
    &-l,&-rl,&-lr { margin-left:18pt; }
  }
  &2 {
    margin:24pt;
    &-t,&-tb,&-bt { margin-top:24pt; }
    &-r,&-rl,&-lr { margin-right:24pt; }
    &-b,&-tb,&-bt { margin-bottom:24pt; }
    &-l,&-rl,&-lr { margin-left:24pt; }
  }
}
.padding- {
  &0p5 {
    padding:6pt;
    &-t,&-tb,&-bt { padding-top:6pt; }
    &-r,&-rl,&-lr { padding-right:6pt; }
    &-b,&-tb,&-bt { padding-bottom:6pt; }
    &-l,&-rl,&-lr { padding-left:6pt; }
  }
  &1 {
    padding:12pt;
    &-t,&-tb,&-bt { padding-top:12pt; }
    &-r,&-rl,&-lr { padding-right:12pt; }
    &-b,&-tb,&-bt { padding-bottom:12pt; }
    &-l,&-rl,&-lr { padding-left:12pt; }
  }
  &1p5 {
    padding:18pt;
    &-t,&-tb,&-bt { padding-top:18pt; }
    &-r,&-rl,&-lr { padding-right:18pt; }
    &-b,&-tb,&-bt { padding-bottom:18pt; }
    &-l,&-rl,&-lr { padding-left:18pt; }
  }
  &2 {
    padding:24pt;
    &-t,&-tb,&-bt { padding-top:24pt; }
    &-r,&-rl,&-lr { padding-right:24pt; }
    &-b,&-tb,&-bt { padding-bottom:24pt; }
    &-l,&-rl,&-lr { padding-left:24pt; }
  }
}
