/* 612pt x 792pt = 8.5in x 11in */

/* FreightText */
/* Every line is 80 X across, so every capital X is 7.65pt wide when body text is set to 12pt */

@font-face {
  font-family: "FreightText";
  src: url('type/FreightText Pro Book Regular.ttf')  format('truetype');
  font-weight:300;
  font-style:normal;
}
@font-face {
  font-family: "FreightText";
  src: url('type/FreightText Pro Book Italic Italic.ttf')  format('truetype');
  font-weight:300;
  font-style:italic;
}
@font-face {
  font-family: "FreightText";
  src: url('type/FreightText Pro Bold Regular.ttf')  format('truetype');
  font-weight:600;
  font-style:normal;
}
@font-face {
  font-family: "FreightText";
  src: url('type/FreightText Pro Bold Italic Italic.ttf')  format('truetype');
  font-weight:600;
  font-style:italic;
}
@font-face {
  font-family:"Rentalutions";
  src: url('type/Rentalutions.ttf') format('truetype');
}
.rentalutions {
  font-family:"Rentalutions";
}
.rentalutions.logotype:before {
  content:"\e800";
}
* { margin:0; padding:0; }
body {
  font-family:"FreightText";
  font-size:12pt;
  line-height:18pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow:hidden;
}
h1 {
  font-size:60pt;
  line-height:60pt;
}
h2 {
  font-size:48pt;
  line-height:48pt;
}
h3 {
  font-size:36pt;
  line-height:36pt;
}
h4 {
  font-size:24pt;
  line-height:24pt;
}
h5 {
  font-size:18pt;
  line-height:18pt;
}
h6 {
  font-size:12pt;
  line-height:12pt;
}
h1,h2,h3,h4,h5,h6 { font-weight:300; font-style:normal; }
.caps { text-transform:uppercase; }
.nowrap { white-space:nowrap; }
.justify { text-align:justify; }
 .center { text-align:center; }
  .right { text-align:right; }
   .left { text-align:left; }
.margin-0p5{margin:6pt}.margin-0p5-bt,.margin-0p5-t,.margin-0p5-tb{margin-top:6pt}.margin-0p5-lr,.margin-0p5-r,.margin-0p5-rl{margin-right:6pt}.margin-0p5-b,.margin-0p5-bt,.margin-0p5-tb{margin-bottom:6pt}.margin-0p5-l,.margin-0p5-lr,.margin-0p5-rl{margin-left:6pt}.margin-1{margin:12pt}.margin-1-bt,.margin-1-t,.margin-1-tb{margin-top:12pt}.margin-1-lr,.margin-1-r,.margin-1-rl{margin-right:12pt}.margin-1-b,.margin-1-bt,.margin-1-tb{margin-bottom:12pt}.margin-1-l,.margin-1-lr,.margin-1-rl{margin-left:12pt}.margin-1p5{margin:18pt}.margin-1p5-bt,.margin-1p5-t,.margin-1p5-tb{margin-top:18pt}.margin-1p5-lr,.margin-1p5-r,.margin-1p5-rl{margin-right:18pt}.margin-1p5-b,.margin-1p5-bt,.margin-1p5-tb{margin-bottom:18pt}.margin-1p5-l,.margin-1p5-lr,.margin-1p5-rl{margin-left:18pt}.margin-2{margin:24pt}.margin-2-bt,.margin-2-t,.margin-2-tb{margin-top:24pt}.margin-2-lr,.margin-2-r,.margin-2-rl{margin-right:24pt}.margin-2-b,.margin-2-bt,.margin-2-tb{margin-bottom:24pt}.margin-2-l,.margin-2-lr,.margin-2-rl{margin-left:24pt}.padding-0p5{padding:6pt}.padding-0p5-bt,.padding-0p5-t,.padding-0p5-tb{padding-top:6pt}.padding-0p5-lr,.padding-0p5-r,.padding-0p5-rl{padding-right:6pt}.padding-0p5-b,.padding-0p5-bt,.padding-0p5-tb{padding-bottom:6pt}.padding-0p5-l,.padding-0p5-lr,.padding-0p5-rl{padding-left:6pt}.padding-1{padding:12pt}.padding-1-bt,.padding-1-t,.padding-1-tb{padding-top:12pt}.padding-1-lr,.padding-1-r,.padding-1-rl{padding-right:12pt}.padding-1-b,.padding-1-bt,.padding-1-tb{padding-bottom:12pt}.padding-1-l,.padding-1-lr,.padding-1-rl{padding-left:12pt}.padding-1p5{padding:18pt}.padding-1p5-bt,.padding-1p5-t,.padding-1p5-tb{padding-top:18pt}.padding-1p5-lr,.padding-1p5-r,.padding-1p5-rl{padding-right:18pt}.padding-1p5-b,.padding-1p5-bt,.padding-1p5-tb{padding-bottom:18pt}.padding-1p5-l,.padding-1p5-lr,.padding-1p5-rl{padding-left:18pt}.padding-2{padding:24pt}.padding-2-bt,.padding-2-t,.padding-2-tb{padding-top:24pt}.padding-2-lr,.padding-2-r,.padding-2-rl{padding-right:24pt}.padding-2-b,.padding-2-bt,.padding-2-tb{padding-bottom:24pt}.padding-2-l,.padding-2-lr,.padding-2-rl{padding-left:24pt}
