/* FreightText */
$freight-text:"freight-text-pro","Palatino Linotype","Book Antiqua", Palatino, serif;
@font-face {
  font-family: "freight-text-pro";
  src: url('type/FreightText Pro Book Regular.ttf')  format('truetype');
  font-weight:300;
  font-style:normal;
}
@font-face {
  font-family: "freight-text-pro";
  src: url('type/FreightText Pro Book Italic Italic.ttf')  format('truetype');
  font-weight:300;
  font-style:italic;
}
@font-face {
  font-family: "freight-text-pro";
  src: url('type/FreightText Pro Bold Regular.ttf')  format('truetype');
  font-weight:600;
  font-style:normal;
}
@font-face {
  font-family: "freight-text-pro";
  src: url('type/FreightText Pro Bold Italic Italic.ttf')  format('truetype');
  font-weight:600;
  font-style:italic;
}
.freight-text {
  font-family:$freight-text;
}
