$rentalutions: "Rentalutions";
@font-face {
  font-family:"Rentalutions";
  src: url('type/Rentalutions.ttf') format('truetype');
}
.rentalutions {
  font-family:$rentalutions;
}
.rentalutions.logotype:before {
  content:"\e800";
}
